* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / 1fr 3fr;
}

ul {
  list-style: none;
  padding: 10px;
}

/* sidebar */

.sidebar {
  background-color: lightblue;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 3fr 5fr;
}

.sidebar ul {
  display: grid;
  align-self: center;
}

.sidebar li {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* header */

.header {
  display: grid;
  grid-template: 1fr 3fr / 3fr 2fr;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.header > div {
  display: flex;
  gap: 10px;
}

input[type=search] {
  background-color: lightgray;
  border-radius: 10px;
  flex-grow: 1;
}

.user-info,
.action-buttons {
  justify-content: center;
}

.user-info img,
.greeting img {
  height: 30px;
  width: 30px;
}

button {
  background-color: lightblue;
  border-radius: 10px;
  width: 50px;
}

/* main content */

.main-content {
  padding: 10px;
  background-color: lightgray;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  gap: 10px;
}

/* projects */

.projects {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.projects ul {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  gap: 20px;
}

.card {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border-left: px solid orange;
  display: flex;
  flex-direction: column;
}

.card-actions {
  align-self: end;
}

.project-detail {
  flex-grow: 1;
}

.card img {
  height: 30px;
  width: 30px;
}

/* announcements */

.announcements {
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.announcements ul {
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.announcements li:not(:last-child) {
  border-bottom: solid lightgray;
}

/* trending */

.trending {
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.trending ul {
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

.trending li {
  display: flex;
  gap: 10px;
}

.trending img {
  height: 30px;
  width: 30px;
}